{{ form_start(form) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ scenario.name }}</td>
                <td>{{ form_widget(form.name) }}</td>
                <td>{{ form_errors(form.name) }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ scenario.level }}</td>
                <td>{{ form_widget(form.level) }}</td>
                <td>{{ form_errors(form.level) }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ scenario.date ? scenario.date|date('d/m/Y') : '' }}</td>
                <td>{{ form_widget(form.date) }}</td>
                <td>{{ form_errors(form.date) }}</td>
            </tr>
            <tr>
                <th>Lien du post</th>
                <td>{{ scenario.postLink }}</td>
                <td>{{ form_widget(form.post_link) }}</td>
                <td>{{ form_errors(form.post_link) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Niveau</th>
                <th>Réussite</th>
                <th>Reputation</th>
                <th>Bonus Reputation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% set mjToken = scenario.tokens|filter(token => token.type == 'MJ')|first %}
        {% if mjToken %}
            <tr>
                    <td>{{ mjToken.ownerUser.username }}</td>
                    <td></td>
                    <td>{{ mjToken.usageRate != 0 ? mjToken.usageRate ~ "% / " : "" }}{{ mjToken.totalRate }}%</td>
                    {{ form_widget(tokenForm.totalRate, {'attr': {'style': 'display: none;'}}) }}
                    <td>{{ mjToken.deltaPr }}%</td>
                    {{ form_widget(tokenForm.delta_pr, {'attr': {'style': 'display: none;'}}) }}
                    <td>{{ "%+d"|format(mjToken.deltaPrFromLevel) }}%</td>
            </tr>
        {% endif %}
        {% for tokenForm in form.tokens %}
            
            {% set tokenData = tokenForm.vars.value %}
            {% if tokenData.type == "PJ" %}
                <tr>
                    <td>{{ tokenData.character.name }}</td>
                    <td>{{ tokenData.character.level }}</td>
                    
                    <td>{{ form_widget(tokenForm.totalRate) }}</td>
                    <td>{{ form_widget(tokenForm.delta_pr) }}</td>
                    <td>{{ "%+d"|format(tokenData.deltaPrFromLevel) }}%</td>
                    <td>        
                        <button type="submit" class="btn btn-primary btn-sm" 
                            name="removeToken" value="{{tokenData.id}}">Retirer</button>
                    </td>
                    
                </tr>
            {% endif %}    
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Niveau</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
                <td>{{ character.level }}</td>
                <td>
                    <button type="submit" class="btn btn-primary btn-sm" 
                        name="addToken" value="{{character.id}}">Ajouter</button>
                </td>
            </tr>
                
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{{ form_end(form) }}