{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}

    {% set current_route = app.request.attributes.get('_route') %}
    {{ render(controller('App\\Controller\\ActionController::index',{'route' : current_route} )) }}

    <table class="table index">
        <thead>
            <tr>
                <th>Name</th>
                <th>Maitre de jeu</th>
                <th>Level</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr onclick="document.location = '{{ path('app_scenario_show', {'id': scenario.id}) }}';">
                <td>{{ scenario.name }}</td>
                <td>{{ scenario.gameMaster ? scenario.gameMaster.username  }}</td>
                <td>{{ scenario.level }}</td>
                <td>{{ scenario.date ? scenario.date|date('d/m/Y') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
