{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}
    <h1>Scenario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Date</th>
                <th>Description</th>
                <th>Img</th>
                <th>Post_link</th>
                <th>Summary_link</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.name }}</td>
                <td>{{ scenario.level }}</td>
                <td>{{ scenario.date ? scenario.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ scenario.description }}</td>
                <td>{{ scenario.img }}</td>
                <td>{{ scenario.postLink }}</td>
                <td>{{ scenario.summaryLink }}</td>
                <td>{{ scenario.status }}</td>
                <td>
                    <a href="{{ path('app_scenario_show', {'id': scenario.id}) }}">show</a>
                    <a href="{{ path('app_scenario_edit', {'id': scenario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_scenario_new') }}">Create new</a>
{% endblock %}
