{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Date</th>
                <th>Liens</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr onclick="document.location = '{{ path('app_scenario_show', {'id': scenario.id}) }}';">
                <td>{{ scenario.name }}</td>
                <td>{{ scenario.level }}</td>
                <td>{{ scenario.date ? scenario.date|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ scenario.postLink }}">
                        Annonce
                        <i class="fa-solid fa-sign-hanging"></i>
                    <a href="{{ scenario.summaryLink }}">
                        Résumé
                        <i class="fa-solid fa-book"></i>
                    </a>
                </td>
                <td>{{ scenario.status }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
