{% extends 'base.html.twig' %}

{% block title %}Scenario{% endblock %}

{% block body %}
    
    {% set current_route = app.request.attributes.get('_route') %}
    {{ render(controller('App\\Controller\\ActionController::index',{'route' : current_route, 'object' : scenario} )) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ scenario.name }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ scenario.level }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ scenario.date ? scenario.date|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Lien du post</th>
                <td>{{ scenario.postLink }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Niveau</th>
                <th>Réussite</th>
                <th>Bonus Reputation</th>
                <th>Token</th>
            </tr>
        </thead>
        <tbody>
        {% for token in scenario.tokens %}
            <tr>
                <td>{{ token.character.name }}</td>
                <td>{{ token.character.level }}</td>
                <td>100%</td>
                <td>+10 PR</td>
                <td>454</td>
            </tr>
                
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
