{% extends 'base.html.twig' %}

{% block title %}CartGP index{% endblock %}

{% block body %}
    <h1>CartGP index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cartGP in cartGPs %}
            <tr>
                <td>{{ cartGP.id }}</td>
                <td>{{ cartGP.date ? cartGP.date|date('Y-m-d') : '' }}</td>
                <td>{{ cartGP.status }}</td>
                <td>
                    <a href="{{ path('app_cartGP_show', {'id': cartGP.id}) }}">show</a>
                    <a href="{{ path('app_cartGP_edit', {'id': cartGP.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cartGP_new') }}">Create new</a>
{% endblock %}
