{{ form_start(form) }}
    {% set characterData = form.vars.value %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ "%04d"|format(characterData.id) }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ characterData.owner.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ characterData.name }}</td>
                <td>{{ form_widget(form.name) }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ characterData.title }}</td>
                <td>{{ form_widget(form.title) }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td  class="fixed-width-value">{{ "%7d"|format(characterData.level) }}</td>
            </tr>
            <tr>
                <th>XP joueur</th>
                <td class="fixed-width-value">{{ "%7d"|format(characterData.xpCurrent) }} XP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format((XPNiveauSuivant - totalXP)) }} XP</td>
            </tr>
            <tr>
                <th>Dont XP maitrise</th>
                <td class="fixed-width-value">{{ "%7d"|format(characterData.xpCurrentMj) }} XP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format((XPNiveauSuivant - totalXP)/2) }} XP</td>
            </tr>
            <tr>
                <th>Richesse</th>
                <td class="fixed-width-value">{{ "%7d"|format(characterData.gp) }} GP</td>
                <td>{{ form_widget(form.gp_add) }} GP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format(GV) }} GV</td>
            </tr>
            <tr>
                <th>Reputation</th>
                <td class="fixed-width-value">{{ "%7d"|format(characterData.pr) }} PR</td>
                <td>{{ form_widget(form.pr_add) }} PR</td>
            </tr>
            <tr>
                <th>Fin d'activité</th>
                {% if characterData.endActivity|date('d/m/Y') > date('now')|date('d/m/Y') %}
                        <td>{{ characterData.endActivity | date('d/m/Y') }}</td>
                {% else  %}
                        <td>Disponible</td>
                {% endif %}
                <td>{{ form_widget(form.activity_add) }} jours</td>
            </tr>
            <tr>
                <th>Webhook</th>
                <td>{{ characterData.webhookLink ? 'Renseigné' : 'Non Renseigné' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td colspan="3">{{ form_widget(form.description) }}</td>
            </tr>
        </tbody>
    </table>


    <div class="form-group">
    </div>
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    
    <table class="table">
        <thead>
            <tr>
                <th>Champ</th>
                <th></th>
                <th>Ancienne valeur</th>
                <th></th>
                <th>Nouvelle valeur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            {% for key, diff in log.diffs %}
                {% if key != 'last_action_description' and key != 'webhook_link'  %}
                    <tr>
                        <td colspan="2">{{ key }}</td>
                        <td colspan="2">
                            {% if diff.old is defined %}
                                {% if diff.old.id is defined %}
                                    {{ diff.old.id }}
                                {% else %}
                                    {{ diff.old }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td colspan="2">
                            {% if diff.new is defined %}
                                {% if diff.new.id is defined %}
                                    {{ diff.new.id }}
                                {% else %}
                                    {{ diff.new }}
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="2">Description :
                    {{ log.diffs['last_action_description'] is defined ? 
                        log.diffs['last_action_description'].new : "Description vide !" }}
                </td>
                <td colspan="2">le {{ log.createdAt | date('d/m/Y h:m:s') }}</td>
                <td colspan="2">par {{ log.username }}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_widget(form._token) }}
    
</form>