{{ form_start(form) }}

    <table class="table">
        <tbody>
            <tr>
                <th>
                    Nom
                </th>
                <td>{{ form_widget(form.name) }}</td>
                <td>{{ form_errors(form.name) }}</td>
            </tr>
            <tr>
                <th>
                Titre
                </th>
                <td>{{ form_widget(form.title) }}</td>
                <td>{{ form_errors(form.title) }}</td>
            </tr>
            <tr>
                <th>
                Niveau
                </th>
                <td>3</td>
            </tr>
            <tr>
                <th>Richesse</th>
                <td>3750 GP</td>
            </tr>
            <tr>
                <th>
                <i class="fa-solid fa-circle-info"
                    style="cursor:pointer;"
                    title="1500, ou 500 avec le trait Gaijin"></i>
                Reputation
                </th>
                <td>{{ form_widget(form.pr) }} PR</td>
                <td>{{ form_errors(form.pr) }}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
    </div>
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    
    {{ form_widget(form._token) }}
    
</form> 