{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h2>Character index</h1>

    <table class="table index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Titre</th>
                <th>Niveau</th>
                <th>Réputation</th>
                <th>End_activity</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr onclick="document.location = '{{ path('app_character_show', {'id': character.id}) }}';">
                <td>{{ character.id }}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.title }}</td>
                <td>{{ character.level }}</td>
                <td>{{ character.pr }} PR</td>

                {% if character.endActivity %}
                    <td>{{ "now"|date_modify('+' ~ character.endActivity ~ ' day')|date("d/m/Y")  }}</td>
                {% else  %}
                    <td>Disponible</td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_character_new') }}">Create new</a>
{% endblock %}
