{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h2>Character
        <a class="fa-solid fa-plus" href="{{ path('app_character_new') }}"></a>
    </h1>

    <table class="table index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Joueur</th>
                <th>Nom</th>
                <th>Titre</th>
                <th>Niveau</th>
                <th>Réputation</th>
                <th>End_activity</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr onclick="document.location = '{{ path('app_character_show', {'id': character.id}) }}';">
                <td>{{ "%04d"|format(character.id) }}</td>
                <td>{{ character.owner.id ?? ""}}</td>
                <td>{{ character.name }}</td>
                <td>{{ character.title }}</td>
                <td>{{ character.level }}</td>
                <td class="fixed-width-value">{{ "%7d"|format(character.pr) }} PR</td>

                {% if character.endActivity  < date('now') %}
                    <td>{{ character.endActivity | date('Y-m-d') }}</td>
                {% else  %}
                    <td>Disponible</td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
