{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}

    {% set current_route = app.request.attributes.get('_route') %}
    {{ render(controller('App\\Controller\\ActionController::index',{'route' : current_route, 'object' : character} )) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ "%04d"|format(character.id) }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ character.owner.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ character.name }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ character.title }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td  class="fixed-width-value">{{ "%7d"|format(character.level) }}</td>  
                {% if (totalXP + character.xpCurrent) >= XPNiveauSuivant %}
                    <td>
                        <form action="{{ path("app_character_level_up", {'id': character.id}) }}" method="POST">
                            <button type="submit" class="btn btn-primary btn-sm">
                                    Passer un niveau
                            </button>
                    </td>
                {% endif %}
            </tr>
            <tr>
                <th>XP total</th>
                <td class="fixed-width-value">{{ "%7d"|format(totalXP + character.xpCurrent) }} XP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format(XPNiveauSuivant) }} XP</td>
            </tr>
            <tr>
                <th>XP actuel</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.xpCurrent) }} XP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format(XPNiveauSuivant - totalXP) }} XP</td>
            </tr>
            <tr>
                <th>Dont XP maitrise</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.xpCurrentMj) }} XP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format((XPNiveauSuivant - totalXP)/2) }} XP</td>
            </tr>
            <tr>
                <th>Richesse</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.gp) }} GP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format(GV) }} GV</td>
                <td>
                    
                </td>
            </tr>
            <tr>
                <th>Reputation</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.pr) }} PR</td>
            </tr>
            <tr>
                <th>Fin d'activité</th>

            {% if character.endActivity|date('d/m/Y') > date('now')|date('d/m/Y') %}
                    <td>{{ character.endActivity | date('d/m/Y') }}</td>
            {% else  %}
                    <td>Disponible</td>
            {% endif %}
            </tr>
            <tr>
                <th>Webhook</th>
                <td>{{ character.webhookLink ? 'Renseigné' : 'Non Renseigné' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Token</th>
                <th>Type</th>
                <th>Taux</th>
                <th>Reputation</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for token in character.tokens|sort((a, b) => a.dateOfReception <=> b.dateOfReception) %}
            {% if token.status == "awarded" %}
                <tr>
                    <td>{{ token.name }}</td>
                    <td>{{ token.type }}</td>
                    <td>{{ token.usageRate }} % / {{ token.totalRate }} %</td>
                    <td>{{ token.pr }} % / {{ token.totalPr }} %</td>
                    <td>{{ token.dateOfReception|date('d/m/Y H:i', 'GMT+1') }}</td>
                    
                    {% if token == character.consumableToken %}
                        <td>
                            <form action="{{ path("app_character_consume", {'id': character.id}) }}" method="POST">
                                <button type="submit"
                                        class="btn btn-primary btn-sm">
                                        Consommer
                                </button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <table class="table">
        <thead>
            <tr>
                <th>Champ</th>
                <th></th>
                <th>Ancienne valeur</th>
                <th></th>
                <th>Nouvelle valeur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            {% for key, diff in log.diffs %}
                {% if key != 'last_action_description' and key != 'webhook_link' and key != 'last_action' %}
                    <tr>
                        <td colspan="2">{{ key }}</td>
                        <td colspan="2">
                            {% if diff.old is defined %}
                                {% if diff.old.id is defined %}
                                    {{ diff.old.id }}
                                {% else %}
                                    {{ diff.old }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td colspan="2">
                            {% if diff.new is defined %}
                                {% if diff.new.id is defined %}
                                    {{ diff.new.id }}
                                {% else %}
                                    {{ diff.new }}
                                {% endif %}
                            {% endif %}
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="2">Description :
                    {{ log.diffs['last_action_description'] is defined ? 
                        log.diffs['last_action_description'].new : "Description vide !" }}
                </td>
                <td colspan="2">le {{ log.createdAt | date('d/m/Y h:m:s') }}</td>
                <td colspan="2">par {{ log.username }}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}