{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <div class="app-header">
        <h2 class="app-title-text">Character
            <a class="fa-solid fa-arrow-left" href="{{ path('app_character_index', {'id': character.id})}}"></a> 
            <a class="fa-solid fa-lock" href="{{ path('app_character_edit', {'id': character.id}) }}"></a>
        </h2>

        <h2>
            Echanger avec un joueur
            <a class="fa-solid fa-handshake-angle" href="{{ path('app_character_edit', {'id': character.id}) }}"></a>
        </h2>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ "%04d"|format(character.id) }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ character.owner.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ character.name }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ character.title }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td  class="fixed-width-value">{{ "%7d"|format(character.level) }}</td>    
            </tr>
            <tr>
                <th>XP total</th>
                <td class="fixed-width-value">XXXXXXX XP</td>
            </tr>
            <tr>
                <th>XP avec XP maitrise</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.xpCurrent + character.xpCurrentMj) }} XP</td>
                <td class="fixed-width-value">/ XXXXXXX XP</td>
            </tr>
            <tr>
                <th>XP maitrise</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.xpCurrentMj) }} XP</td>
                <td class="fixed-width-value">/ XXXXXXX XP</td>
            </tr>
            <tr>
                <th>Richesse</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.gp) }} GP</td>
                <td class="fixed-width-value">/ XXXXXXX GP</td>
            </tr>
            <tr>
                <th>Reputation</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.pr) }} PR</td>
            </tr>
            <tr>
                <th>Fin d'activité</th>

                <td>Dans {{ character.endActivity }} jours</td>
            </tr>
        </tbody>
    </table>

    <h1>Log index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item_type</th>
                <th>Item_id</th>
                <th>Created_at</th>
                <th>Field_name</th>
                <th>Old_value</th>
                <th>New_value</th>
                <th>Description</th>
                <th>User_id</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.createdAt ? log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log.fieldName }}</td>
                <td>{{ log.oldValue }}</td>
                <td>{{ log.newValue }}</td>
                <td>{{ log.description }}</td>
                <td>{{ log.userId }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
