{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\ActionController::index',{'object' : character, 'mode' : 'show'} )) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ "%04d"|format(character.id) }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ character.owner.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ character.name }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ character.title }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td  class="fixed-width-value">{{ "%7d"|format(character.level) }}</td>    
            </tr>
            <tr>
                <th>XP total</th>
                <td class="fixed-width-value">{{ "%7d"|format(totalXP + character.xpCurrent + character.xpCurrentMj) }} XP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format(XPNiveauSuivant) }} XP</td>
            </tr>
            <tr>
                <th>XP maitrise actuel</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.xpCurrentMj) }} XP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format((XPNiveauSuivant - totalXP)/2) }} XP</td>
            </tr>
            <tr>
                <th>Richesse</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.gp) }} GP</td>
                <td class="fixed-width-value">/ {{ "%7d"|format(GV) }} GV</td>
            </tr>
            <tr>
                <th>Reputation</th>
                <td class="fixed-width-value">{{ "%7d"|format(character.pr) }} PR</td>
            </tr>
            <tr>
                <th>Fin d'activité</th>

            {% if character.endActivity|date('d/m/Y') > date('now')|date('d/m/Y') %}
                    <td>{{ character.endActivity | date('d/m/Y') }}</td>
            {% else  %}
                    <td>Disponible</td>
            {% endif %}
            </tr>
        </tbody>
    </table>

    <h1>Log index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item_type</th>
                <th>Item_id</th>
                <th>Created_at</th>
                <th>Field_name</th>
                <th>Old_value</th>
                <th>New_value</th>
                <th>Description</th>
                <th>User_id</th>
            </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.createdAt ? log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ log.fieldName }}</td>
                <td>{{ log.oldValue }}</td>
                <td>{{ log.newValue }}</td>
                <td>{{ log.description }}</td>
                <td>{{ log.userId }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
