{% extends 'base.html.twig' %}

{% block title %}Show Cart{% endblock %}

{% block body %}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
                <th>PR %</th>
            </tr>
        </thead>
        <tbody>
            {% for itemData in character.cartGP.items %}
                <tr>
                    <td>{{ itemData.id }}</td>
                    <td>{{ itemData.name }}</td>
                    <td>{{ itemData.quantity }}</td>
                    <td>{{ itemData.price }}</td>
                    <td>{{ itemData.price * itemData.quantity }} gp</td>
                    <td>{{ itemData.ratioPr }}</td>
                </tr>
            {% endfor %}
            <tr>
                {% set itemsData = character.cartGP.items %}
                <th>Total : </th>
                <td>{{ itemsData | length }} achats</td>
                {% set total_quantity = itemsData | reduce((carry, item) => carry + item.quantity, 0) %}
                <td>{{ total_quantity }} objets</td>
                <td></td>
                {% set total_gp_price = itemsData | reduce((carry, item) => carry + item.quantity * item.price, 0) %}
                <td>{{ total_gp_price }} gp</td>
                {% set total_pr_price = itemsData | reduce((carry, item) => carry + item.quantity * item.price * (item.ratioPr/100), 0) %}
                <td>{{ total_pr_price }} pr</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_character_show', {'id': character.id}) }}">
        <button type="submit" class="btn" name="validate">Quitter</button>
    </a>
    <button type="submit" class="btn" name="addItem">Ajouter</button>
    <button type="submit" class="btn" name="empty">Vider</button>
    <br>
    <br>
    <a href="{{ path('app_character_cart_gp', {'id': character.id}) }}">
        <button type="submit" class="btn" name="validate">Editer le panier</button>
    </a>
    <form action="{{ path('app_character_cart_gp_validate', {'id': character.id}) }}" method="POST">
        <button type="submit">Payer</button>
    </form>

{% endblock %}