{% extends 'base.html.twig' %}

{% block title %}Log{% endblock %}

{% block body %}
    <h1>Log</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log.id }}</td>
            </tr>
            <tr>
                <th>Item_type</th>
                <td>{{ log.itemType }}</td>
            </tr>
            <tr>
                <th>Item_id</th>
                <td>{{ log.itemId }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ log.createdAt ? log.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Field_name</th>
                <td>{{ log.fieldName }}</td>
            </tr>
            <tr>
                <th>Old_value</th>
                <td>{{ log.oldValue }}</td>
            </tr>
            <tr>
                <th>New_value</th>
                <td>{{ log.newValue }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ log.description }}</td>
            </tr>
            <tr>
                <th>User_id</th>
                <td>{{ log.userId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_log_index') }}">back to list</a>

    <a href="{{ path('app_log_edit', {'id': log.id}) }}">edit</a>

    {{ include('log/_delete_form.html.twig') }}
{% endblock %}
