{% extends 'base.html.twig' %}

{% block title %}Transfer index{% endblock %}

{% block body %}
    <h1>Transfer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Emetteur</th>
                <th>GP</th>
                <th>Pr</th>
                <th>Extra_pr</th>
                <th>Récepteur</th>
            </tr>
        </thead>
        <tbody>
        {% for transfer in transfers %}
            <tr>
                <td>{{ transfer.initiator.name }}</td>
                <td>{{ transfer.gp|number_format(0, '.', ' ') }} GP</td>
                <td>{{ transfer.pr|number_format(0, '.', ' ') }} PR </td>
                <td>{{ transfer.recipient.name ?? "" }}</td>
                <td>{{ transfer.extraPr|number_format(0, '.', ' ') }} PR</td>
                <td>
                    <a href="{{ path('app_transfer_show', {'id': transfer.id}) }}">show</a>
                    <a href="{{ path('app_transfer_edit', {'id': transfer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_transfer_new') }}">Create new</a>
{% endblock %}
