{% extends 'base.html.twig' %}

{% block title %}Transfer{% endblock %}

{% block body %}
    <h1>Transfer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transfer.id }}</td>
            </tr>
            <tr>
                <th>Gp</th>
                <td>{{ transfer.gp }}</td>
            </tr>
            <tr>
                <th>Pr</th>
                <td>{{ transfer.pr }}</td>
            </tr>
            <tr>
                <th>Extra_pr</th>
                <td>{{ transfer.extraPr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transfer_index') }}">back to list</a>

    <a href="{{ path('app_transfer_edit', {'id': transfer.id}) }}">edit</a>

    {{ include('transfer/_delete_form.html.twig') }}
{% endblock %}
