{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h2>User</h2>

    <table class="table index">
        <thead>
            <tr>
                <th>Username</th>
                <th>Personnages</th>
                <th>Personnage principal</th>
                <th>Scénarios maitrisé</th>
                <th>Scénarios joués</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr onclick="document.location = '{{ path('app_user_show', {'id': user.id}) }}';">
                <td>{{ user.username }}</td>
                <td> {{ user.characters.count }} / {{ user.nbCharacterMax }} </td>
                <td></td>
                <td>{{ user.scenarios.count }}</td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
