{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    {% set current_route = app.request.attributes.get('_route') %}
    {{ render(controller('App\\Controller\\ActionController::index',{'route' : current_route, 'object' : user} )) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles|join('/')|replace({'ROLE_': ''}) }}</td>
            </tr>
            <tr>
                <th>Nombre de personnages</th>
                <td> {{ user.characters.count }} </td>
                <td>/ {{ user.nbCharacterMax }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Token</th>
                <th>Type</th>
                <th>Taux</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for token in user.tokens %}
            {% if token.status == "awarded" %}
                <tr>
                    <td>{{ token.name }}</td>
                    <td>{{ token.type }}</td>
                    <td>{{ token.usageRate }} % / {{ token.totalRate }} %</td>
                    <td>{{ token.dateOfReception }}</td>
                    <td></td>
                </tr>
            {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
