{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    {{ render(controller('App\\Controller\\ActionController::index',{'object' : user, 'mode' : 'show'} )) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nombre de personnages</th>
                <td> {{ user.characters.count }} </td>
                <td>/ {{ user.nbCharacterMax }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
