{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h2>User
        <a class="fa-solid fa-arrow-left" href="{{ path('app_user_index')}}"></a>
        {# <a class="fa-solid fa-unlock" href="{{ path('app_user_edit', {'id': user.id}) }}"></a> #}
    </h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nombre de personnages</th>
                <td> {{ user.characters.count }} </td>
                <td>/ {{ user.nbCharacterMax }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
