{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    {% set current_route = app.request.attributes.get('_route') %}
    {{ render(controller('App\\Controller\\ActionController::index',{'route' : current_route, 'object' : user} )) }}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles|join('/')|replace({'ROLE_': ''}) }}</td>
            </tr>
            <tr>
                <th>Nombre de personnages</th>
                <td> {{ user.characters.count }} </td>
                <td>/ {{ user.nbCharacterMax }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
